@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: Kreon, serif;
    font-size: 18px;
    color: #313131;
}

#content {
    width: 600px;
    margin: auto;
}

.title, h1, h2, h3, h4, h5, h6 {
    font-family: "Yanone Kaffeesatz", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.1em;
}

.src, .example, code {
    font-family: "Syne Mono", monospace;
    font-size: 14px;
}

.src, .example {
    margin-left: 0;
    margin-right: 0;
}

code {
    font-size: 16px;
}

.figure {
    max-width: 600px;
}

.figure img {
    max-width: 540px;
}

blockquote {
    font-family: "Averia Libre", monospace;
    font-size: 16px;
    margin-left: 0;
    margin-right: 0;
}

.timestamp {
    font-family: "Averia Libre", monospace;
    font-size: 16px;
}

ul {
    padding-left: 1ch;
}

ol {
    padding-left: 2ch;
}

ul > li {
    list-style-type: "âƒ";
    padding-inline-start: 1ch;
}

ol > li {
    padding-inline-start: 1ch;
}

a {
    border-bottom: 1px solid;
    text-decoration: none;
}

b {
    text-shadow: 1px 1px rgba(200,200,200,0.8);
}

.underline {
    text-decoration: none;
    border-bottom: 2px solid rgb(180,180,180);
}
